TELEGRAM_BOT_TOKEN=
BOT_ENV=production
TELEGRAM_API_BASE_URL=https://portfolio-git-proxy-owais-iqbals-projects-ae6a6135.vercel.app/proxy
TELEGRAM_PROXY_TARGET=https://api.telegram.org
VERCEL_BYPASS_TOKEN=
